.justifyText {
    text-align: justify;
}

.borderedRadius{
    border-radius: 22px;
}

.shadowedContainer:hover {
    -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.62);
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.62);
}

.paddingJoy {
    padding: 14px;
}

.colorBlack{
    fill: black;
}

.pointeredElement {
    cursor: pointer;
}
 .marginTop {
    margin-top: 50px;
 }



/********************** ALERTAS ***********************/
body > div.swal2-container.swal2-center.swal2-backdrop-show > div, body > div.swal2-container.swal2-center.swal2-backdrop-show > div > div.swal2-actions > button.swal2-confirm.swal2-styled, body > div.swal2-container.swal2-center.swal2-backdrop-show > div > div.swal2-actions > button.swal2-cancel.btn.btn-success.swal2-styled.swal2-default-outline {
    border-radius: 22px;
  }
  