body {
    font-family: 'Lunasima', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(1,46,2);
    background: -moz-radial-gradient(circle, rgba(1,46,2,1) 0%, rgba(83,33,136,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,46,2,1) 0%, rgba(83,33,136,1) 100%);
    background: radial-gradient(circle, rgba(1,46,2,1) 0%, rgba(83,33,136,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#012e02",endColorstr="#532188",GradientType=1);
    height: 100vh;
}


.container {
    padding: 50px 55px 75px 55px;
    border-radius: 44px;
    margin: 10px 320px;
    background-color: white;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(255, 255, 255);
    border-radius: 22px;
    border: 1px solid whitesmoke;
    -webkit-box-shadow: 21px 25px 95px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 21px 25px 95px 10px rgba(0,0,0,0.75);
    box-shadow: 21px 25px 95px 10px rgba(0,0,0,0.75);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    position: relative;
}

.profilePic{
    width: 220px;
    height: auto;
    border-radius: 50%;
    border: solid 5px rgb(136, 135, 135);
    -webkit-box-shadow: 21px 25px 95px 10px rgba(102, 102, 102, 0.442);
    -moz-box-shadow: 21px 25px 95px 10px rgba(118, 118, 118, 0.75);
    box-shadow: 21px 25px 95px 10px rgba(92, 92, 92, 0.75);
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.socialMediaLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 22px auto;
    position: relative;
}

.ico {
    width: 40px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.ico:hover {
    width: 40px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    transform: scale(1.5);
    transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease; /* Agregamos las propiedades a animar y especificamos la duración y tipo de transición */
    cursor: pointer;
}



.abstract {
    padding: 0 40px;
}

.abstract p {
    margin: 10px 0; /* Espacio vertical entre párrafos */
    text-align: justify; /* Justificar el texto */
    line-height: 1.5;
    font-size: 17px;
}


/*----------------------- BOTÓN DESCARGA DE CV --------------------*/

.button {
    height: 40px;
    width: 190px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    -webkit-box-shadow: 21px 25px 95px 10px rgba(59, 59, 59, 0.9);
    -moz-box-shadow: 21px 25px 95px 10px rrgba(59, 59, 59, 0.9);
    box-shadow: 21px 25px 95px 10px rgba(59, 59, 59, 0.9);
  }
  
  .type1::after {
    content: "Descargar";
    height: 40px;
    width: 190px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Lunasima', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }

  
  .type1::before {
    content: "Curriculum Vitae";
    height: 40px;
    width: 190px;
    background-color: #ffffff;
    color: #006969;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Lunasima', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }

  @keyframes vibrate {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px) rotateZ(-1deg);
    }
    50% {
      transform: translateX(2px) rotateZ(1deg);
    }
    75% {
      transform: translateX(-2px) rotateZ(-1deg);
    }
    90% {
      transform: translateX(2px) rotateZ(1deg);
    }
  }
  
  .vibrating-button{
    animation: vibrate 2s linear infinite;
  }



  #overlayLoader {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    z-index: 9998; /* Por debajo del loader pero por encima de otros elementos */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

/*---------------------------------------------ENVIAR CORREO---------------------------------------------*/

.img-User img {
    width: 150px;
    height: auto;
    zoom: 0.88;
  }
  
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 150px 80px 150px 80px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    overflow: auto;
  }
  
  .popup {
    position: fixed;
    text-align: center;
    background-color: #fff;
    padding: 80px 120px;
    width: 500px;
    max-height: 87vh;
    top: 1%;
    left: 25%;
    border-radius: 20px;
    overflow: auto;
    zoom: 0.90;
  }
  
  
  .close-btn {
    display: block;
    margin: 33px auto;
    padding: 10px 20px;
    background-color: rgb(128, 20, 45);
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: black;
  }
  
      .aladin {
        animation: aladin 1s ease-in-out;
        animation-fill-mode: forwards;
    }
    
    @keyframes aladin {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        50% {
            opacity: 1;
            transform: scale(1.1);
        }
        80% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
        }
    }
  
  

    /*--------------------------------- FORMULARIO ---------------------------------------------*/

.formularioPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
  }
  
  .formularioPopup label {
    display: block;
    margin-top: 11px;
    font-size: large;
  }
  
  input {
    border: black;
    outline: black;
    border-radius: 40px;
    background: rgb(178, 178, 178);
    width: 365px;
    height: 37px;
    display: block;
    font-size: large;
    padding: 3px 40px;
    margin-bottom: 34px;
    font-family: 'Lunasima', sans-serif;
  }
  
  input:focus{
    background:#e5456a69;
    border: solid black 0.5px;
  }

  input::placeholder {
    text-align: center;
    font-family: 'Lunasima', sans-serif;
  }
  
    textarea {
        font-family: 'Lunasima', sans-serif;
        font-size: medium;
        text-align: start;
    }  

    textarea::placeholder {
        text-align: center;
    } 

  .btnEnviar {
    margin-top: 20px;
    width: 200px;
    height: 55px;
    font-size: 20px;
    padding: 8px 12px;
  }

  .btnEnviar::placeholder {
    text-align: center;
  }
  
  .btnEnviar:hover {
    background-color: rgba(4, 185, 125, 0.849);
    border: solid black 0.5px;
    color: white;
  }
  
  .btnEnviar:active {
    transform: scale(3);
    transition: transform 0.5s ease;
  }
  



  /*--------------------------------- MEDIA QUERY ------------------------------*/

  @media (max-width: 390px) {

    .container {
        margin: 40px 20px; /* Modificamos el margen para hacerlo más estrecho */
        padding: 25px; /* Modificamos el padding para reducir el espacio interno */
        height: auto; /* Eliminamos la altura fija para que se adapte al contenido */
    }

    .profilePic{
        width: 160px;
        height: auto;
    }
    
    h1 {
        font-size: large;
        text-align: center;
    }

    h2 {
        font-size: medium;
        text-align: center;
   }

    .abstract {
        padding: 0 25px;
    }

    .abstract p {
        font-size: small;
    }
    .popup {
        width: 220px;
        max-height: 85vh;
        top: 5%;
        left: 5%;
        padding: 30px 15px;
      }

      input {
        width: 190px;
        height: 22px;
      }
            
    textarea {
        width: 175px;
        height: 190px;
    }  
}



@media (max-width: 768px) {

    .container {
        margin: 40px 20px; /* Modificamos el margen para hacerlo más estrecho */
        padding: 25px; /* Modificamos el padding para reducir el espacio interno */
        height: auto; /* Eliminamos la altura fija para que se adapte al contenido */
    }

    .profilePic{
        zoom: 0.7;
    }
    
    h1 {
        font-size: large;
        text-align: center;
    }

    h2 {
        font-size: medium;
        text-align: center;
   }

    .abstract {
        padding: 0 25px;
    }

    .abstract p {
        font-size: small;
    }

    .popup {
        width: 170px;
        max-height: 85vh;
        top: 5%;
        left: 10%;
        padding: 60px 30px;
      }

      input {
        width: 170px;
        height: 22px;
      }
            
    textarea {
        width: 190px;
        height: 200px;
    }  
}


/* Estilos para pantallas menores a 1160px usando media query */
@media (max-width: 1159px) {
    .container {
        zoom: 1.2;
        margin: 40px 20px; /* Modificamos el margen para hacerlo más estrecho */
        padding: 25px; /* Modificamos el padding para reducir el espacio interno */
        height: auto; /* Eliminamos la altura fija para que se adapte al contenido */
    }

    .profilePic {
        zoom: 0.75; /* Reducimos el tamaño de la imagen */
    }
    
    h1 {
        font-size: large; /* Ajustamos el tamaño de la fuente */
        text-align: center;
    }

    h2 {
        font-size: medium; /* Ajustamos el tamaño de la fuente */
        text-align: center;
   }

    .abstract {
        padding: 0 1px; /* Ajustamos el padding horizontal */
    }

    .abstract p {
        font-size: small; /* Ajustamos el tamaño de la fuente */
    }

    .popup {
        width: 250px;
        max-height: 85vh;
        padding: 60px 60px;
      }

      input {
        width: 240px;
        height: 28px;
      }
            
    textarea {
        width: 275px;
        height: 230px;
    }  
}



.divSocialMediaIndividual {
    position: relative;
  }
  
  .divSocialMediaIndividual span {
    display: none;
  }
  
  /* Mostrar el span cuando se hace hover sobre el div */
  .divSocialMediaIndividual:hover span {
    display: block;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    max-width: fit-content;
    font-size: 15px;
    background-color: #050505bd;
    color: #ffffff;
    padding: 12px;
    border-radius: 40px;
    z-index: 999;
  }
  

.ocultar {
    display: none;
}


/********************** ALERTAS ***********************/
body > div.swal2-container.swal2-center.swal2-backdrop-show > div, body > div.swal2-container.swal2-center.swal2-backdrop-show > div > div.swal2-actions > button.swal2-confirm.swal2-styled {
  border-radius: 22px;
}
